*{
    margin:0;
    padding:0;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(images/bg);
    background-size: cover;
    height:90vh;
    background-position:center;
}

.container{
    background-color:white;
    width:350px;
    height:450px;
    color:black;
    text-align:center;
    border-radius:25px;
    margin-top:30px;
    margin-left:35%;
    z-index:1;
}

.button{
    border-radius:10px;
    border:none;
    padding:10px;
    margin-top:20px;
    margin-bottom:20px;
    width:50%;
    background-color:rgb(195, 202, 208);
}

.button:hover{
    cursor:pointer;
    background-color:lightblue;
}

.content{
    display:flex;
    justify-content:space-between;
}

.content p{
    text-align:center;
    font-weight:500;
}

.content a{
    text-decoration: none;
    color:black;
}